<div [ngClass]="'headr'">
	<div [ngClass]="'menuar'">
		<img src="assets/images/logod.png">
		<!--<img src="assets/images/menico.png" [ngClass]="'menico'"> -->
	</div>
	<div [ngClass]="'bodyar'">
		<p [ngClass]="'remlef'">Welcome PaulProduce17</p>
		<div [ngClass]="'remrig'">
			<img src="assets/images/gloico.png"  [ngClass]="'gloico'">
			<p [ngClass]="'conter'">4</p>
			<p [ngClass]="'questi'">?</p>
			<img src="assets/images/members/avatar.png" [ngClass]="'avatar'">
			<img src="assets/images/dropdo.png" [ngClass]="'dropdo'">
		</div>
	</div>
</div>
