img {
	width: auto;
}

.fulhei {
	background-image: url(/assets/images/login.jpg);
	height: 100%;
	background-size: cover;
	.wrapp {
		padding: 3% 6%;
	    display: inline-block;
	    width: 88%;
	    height: 88%;
	}
	.botleft {
	    width: 40%;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    padding: 2% 6%;
	    color: #fff;
	}
	.contact {
		margin: 40px 70px;
		font-family: SourceSansPro-SemiBold;
		font-size: 15px;
	    float: right;
	    color: #fff;
	    background: #37b148;
	    padding: 8px 15px;
	    border-radius: 4px;
		img {
		    width: auto;
			margin-right: 5px
		}
	}
	.botrigh {
	    width: 40%;
	    color: #fff;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    padding: 2% 6%;
	    text-align: right;
	}
	p {
		font-family: ProximaNovaRegular;
		font-size: 14px;
		span {
		    font-weight: bold;
		}
	}
	.central {
	    margin: 0px auto;
	    display: block;
	    width: 350px;
	    height: 100%;
	    background: #fff;
	    img {
		    margin: 0px auto;
		    display: block;
		    padding: 70px 0px 50px 0px;
  		}
  		label {
  			margin-left: 42px;
  		    font-family: ProximaNovaRegular;
		    font-size: 16px;
		    color: #7f8fa4
  		}
		.headin {
		    font-family: ProximaNovaRegular;
		    font-size: 24px;
		    color: #354052;
		    margin-left: 44px;
		    margin-block-start: 0px;

		}
		input {
		    display: block;
		    margin: 0px auto;
		    border: 1px solid #dfe3e9;
		    border-radius: 3px;
		    padding: 11px;
		    width: 240px;
    		margin-bottom: 20px;
			font-family: ProximaNovaRegular;
    		font-size: 15px;
    		margin-top: 10px;

		}
		.submitt {
		    clear: both;
			color: #fff;
    		background-color: #36ae46;
    		border: unset;
    		width: 262px;
    		padding-left: 0px;
    		padding-right: 15px;
		}	
		.crt {
		    font-size: 14px;
		    float: left;
		    margin-left: 44px;
		    color: #191b1e;
    		font-family: ProximaNova-Semibold;
		}
		.fgt  {
		    font-size: 14px;
		    float: right;
		    margin-right: 44px;
		    font-family: ProximaNova-Semibold;
    		color: #7f8fa4;
		}
	}
}