<div [ngClass]="'fulhei'">
	<a routerLink="/contact" [ngClass]="'contact'"> <img src="assets/images/mesico.png"> Contact Us</a>
	<div [ngClass]="'central'">
		<img src="assets/images/logo.png">

		<p  [ngClass]="'headin'">Forgot Your Password?</p>
		<p [ngClass]="'crt'">Please enter your email address and we will send you an email with instructions for resetting your password</p>

		<form [formGroup]="signin2Form" ngSubmit="onSubmit()">
			
			<h5 *ngIf="success">Your form is valid!</h5>
			<label>
			  Email Address
			<input [ngClass]="'email'" type="email" formControlName="email" placeholder="id@website.com">
			</label>
			<div *ngIf="submitted && signin2Form.controls.email.errors" class="error">
				<div *ngIf="signin2Form.controls.email.errors">Email is required!</div>
			</div>
			<input [ngClass]="'submitt'" type="submit" value="Reset">
			<a routerLink="/signin" [ngClass]="'back csenter'">Back to Sign In</a>
			<a routerLink="/signup" [ngClass]="'csenter'">Don't have an account? Sign Up</a>
		</form>
	</div>
	<p [ngClass]="'botleft'">All rights reserved 2019 | <span> Produce Chain LLC </span></p>
	<p [ngClass]="'botrigh'">Photo courtesy by Unsplash.com</p>
</div>