<div id="outer" [ngClass]="'menuar promen'">
	<img src="assets/images/members/menava.png" [ngClass]="'menava'">
	<p [ngClass]="'namtxt'">Welcome JohnTrax1</p>
	<p [ngClass]="'ematxt'">JohnTrax1@gmail.com</p>
	<p [ngClass]="'mename'">MENU</p>

	<a routerLink="/buyer-dashboard" routerLinkActive="active-link" [ngClass]="'homi'" [routerLinkActiveOptions]="{exact: true}"> Home</a>
	<a routerLink="/buyer-dashboard-register" routerLinkActive="active-link" [ngClass]="'proi'" [routerLinkActiveOptions]="{exact: true}">Register</a>
	<a routerLink="/buyer-dashboard-orders" routerLinkActive="active-link" [ngClass]="'ordi'" [routerLinkActiveOptions]="{exact: true}">Orders</a>
	<a routerLink="/buyer-dashboard-cart" routerLinkActive="active-link" [ngClass]="'msco'" [routerLinkActiveOptions]="{exact: true}">Cart</a>
	<a routerLink="/buyer-dashboard-account" routerLinkActive="active-link" [ngClass]="'acci'" [routerLinkActiveOptions]="{exact: true}">Account</a>
	<a routerLink="/signin2" routerLinkActive="active-link" [ngClass]="'logi'" [routerLinkActiveOptions]="{exact: true}">Logout</a>

</div>