<app-nav></app-nav>

<div [ngClass]="'defdiv'">
<img src="assets/images/shiban.jpg">
</div>

<div [ngClass]="'fulwid graybg defdiv topbot topall'">
	<div [ngClass]="'wrapper three'">
		<div [ngClass]="'senter'">
			<p [ngClass]="'supscr'">Overview</p>
			<h1 [ngClass]="'suphea'">This New Sample is on Trending Lists</h1>
		</div>
		<div [ngClass]="'marbott'">
			<p [ngClass]="'p3rd'"><strong>A dark heading for sub-para</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui  officia deserunt mollit anim id est laborum.
Excepteur sint occaecat cupidatat non proident.
			 </p>
			<p [ngClass]="'p3rd'"><strong>A dark heading for sub-para</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui  officia deserunt mollit anim id est laborum.
Excepteur sint occaecat cupidatat non proident.
			</p>
			<p [ngClass]="'p3rd'"><strong>A dark heading for sub-para</strong><br>dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui  officia deserunt mollit anim id est laborum.
Excepteur sint occaecat cupidatat non proident. 
			</p>
		</div>
	</div>
</div>

<div  class="outerr">
	<div class="bacimage defdiv">
		<div [ngClass]="'container'">
	    	<div [ngClass]="'col1'">
	    		<h1 [ngClass]="'getsh1'">Join the</h1>
	    		<h1 [ngClass]="'getsh1'"><span>ProduceChain</span></h1>
	    		<h1 [ngClass]="'getsh1'">network today!</h1>
	    	</div>
		
			<div [ngClass]="'col2'">
				<a href="">GET STARTED</a>
			</div>
	  </div>
	</div>
</div>

<app-footer></app-footer>