p, a {
    color: #354052;
    font-family: proximanovaregular;
}
.bodye {
    background-size: cover;
    position: absolute;
    top: 75px;
    right: 0;
  	background-color: #eff3f6;
    padding: 3%;
    margin-top: -3px;
    float: left;
    width: 75%;
    .tabhea {
	    color: #354052;
	    font-size: 20px;
	    font-family: ProximaNovaRegular;
	    margin-top: 10px;
        margin-right: 33px;
        margin-bottom: 0px;
	}
}
.product {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 212px;
    display: inline-block;
    float: left;
    margin-top: 30px;
    margin-right: 22px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    img.proimg {
        width: 100%;
    }
    .lefti {
        float: left;
        width: 50%;
        .group {
            font-size: 20px;
            font-family: proximanova-semibold;
            color: #354052;
            margin-top: 12px;
            margin-bottom: 8px;
        }
    }
    .rigti {
        width: 50%;
        float: right;
        .type  {
            font-size: 12px;
            float: right;
            text-transform: capitalize;
            margin-bottom: 8px;
        }
        .rating {
            clear: both;
            float: right;
            .mat-icon {
                width: 13px;
                height: 13px;
                color: #fcc11f;
                font-size: 17px;
                float: right;
                margin-right: 2px;
            }
        }
    }
    .code {
        font-size: 13px;
        margin-top: 0px;
        font-family: proximanovaregular;
    }
    .price_per_unit, .units {
        float: left;
        margin-top: 0px;
        margin-bottom: 4px;
        font-size: 17px;
        clear: both;
        img  {
            width: 16px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}
.linbrk {
    border-bottom: 2px solid #f0f3f8;
    display: block;
    margin: 0px auto;
    padding-top: 8px;
    clear: both;
}
.total {
    font-size: 22px;
    text-align: center;
    font-family: proximanova-semibold;
    color: #1bb934;
    margin-top: 10px;
    margin-bottom: 12px;
}
.info, .cart {
    padding: 0px 12px;
    line-height: 32px;
    color: #fff;
    background-color: #36b047;
    margin: 0px auto;
    border-radius: 4px;
    text-align: center;
}
.info {
    float: left;
}
.cart {
    float: right;
}
.continue {
    height: 347px;
    width: 232px;
    margin-top: 30px;
}
.remove {
    width: 100%;
    background: url(/assets/images/trash.png) no-repeat scroll 32px 8px;
    color: #fff;
    background-color: #ea3339;
    margin: 0px auto;
    border-radius: 3px;
    text-align: center;
    padding-left: 38px;
}
.white {
    background: #fff;
    padding: 33px;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 88px;
    .left {
        width: 59%;
        padding-right: 23px;
        display: inline-block;
    }
    .head {
        font-size: 22px;
        margin: 0px 0px 30px 0px;
        float: left;
    }
    p {
        font-size: 16px;
        line-height: 19px;
        span {
            font-family: proximanova-semibold;
        }
    }
    .simp {
        margin-top: 3px;
        float: left;
        font-size: 16px;
        background: url(/assets/images/pencil.png) no-repeat;
        padding-left: 22px;
        margin-left: 35px;
    }
    .right {
        width: 35%;
        vertical-align: top;
        padding-left: 24px;
        border-left: 2px solid #e1e1e1;
        display: inline-block;
        p {
            margin-top: 0;
        }
        .subtotal, .flef {
            float: left;
            clear: left;
        }
        .tota {
            color: #1991eb;
            font-size: 22px;
            line-height: 13px;
            margin-bottom: 0px;
        }
        .flri {
            float: right;
            &.totalo {
                margin-bottom: 0px;
            }
            span {
                color: #7f8fa4;
                font-size: 12px;
            }
        }
        .flef {
            &.totalo {
                margin-bottom: 0px;
            }
        }
    }
    .name {
        display: block;
        clear: left;
    }
    .name, .addr, .tele, .emai {
        padding-left: 33px;
    }
    .name {
        background: url(/assets/images/manhis.png) no-repeat;
    }
    .addr {
        background: url(/assets/images/mapis.png) no-repeat;
    }
    .tele {
        background: url(/assets/images/teleph.png) no-repeat;
    }
    .emai {
        background: url(/assets/images/envelo.png) no-repeat;
    }
}
.comm {
    margin-top: 17px !important;
    margin-bottom: 7px;
}
.spann {
    color: #7f8fa4;
    font-size: 14px !important;
    margin-bottom: 9px;
}
form {
    float: left;
    textarea {
        border: 1px solid #dfe3e9;
        border-radius: 4px;
        padding: 7px;
        width: 293px;
        font-family: proximanova-semibold;
        font-size: 15px;
        color: #354052;
    }
    .submitt {
        color: #fff;
        background-color: #36ae46;
        border-radius: 3px;
        width: 100%;
        margin-top: 8px;
        font-family: proximanova-semibold;
    }
}

